/.metadata/
/.recommenders/
/.metadata/.plugins/org.eclipse.core.resources/.projects/C_ServerTest/org.eclipse.jdt.core
/.metadata/.plugins/org.eclipse.core.resources/.projects/demo2/org.eclipse.jdt.core/*.dat
/.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/*.cfs
/.metadata/.plugins/org.eclipse.m2e.core/nexus/7ecc6915ccb1e16d8b77caf778760e47
/democlass/bin
/BStudent/bin
